#hw1 {
    height: 150px;
    width: 150px;
}
#hw2 {
    height: 150px;
    width: 150px;
}
#hw3 {
    width: 150px;
    height: 150px;
}
#hw4 {
    width: 150px;
    height: 150px;
}
#hw5 {
    width: 150px;
    height: 150px;
}
#hw6 {
    width: 150px;
    height: 150px;
}
#hw7 {
    width: 150px;
    height: 150px;
}